/* CSS Document */

body{
	background-color: #000000;
	margin: 0;
}
.home {
	height: 100vh;
}
nav ul{
	list-style: none;
	float: right;
	padding: 0.5em 2em 0.5em 0;
}
nav ul li{
	display: inline;
	padding: 0 1em 0 1em;
}
nav ul li a{
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	font-size: 0.8em;
	color: #c2c2c2;
}
nav ul li a:hover{
	color: #FFFFFF;	
}
h1, h2, h3, h4{
	font-weight: normal;
	padding: 0;
	border: 0;
	margin: 0;
}
header{
	color: #FFFFFF;
	position: absolute;
  	top: 50%;
  	left: 50%;
  	transform: translateX(-50%) translateY(-50%);
}
h1{
	font-family: 'Libre Baskerville', serif;
	font-size: 4em;
	text-align: center;
	line-height: 1em;
	letter-spacing: 0.01em;
}
h2{
	font-family: 'Raleway', sans-serif;
	font-size: 1em;
	text-align: center;
	line-height: 3em;
	letter-spacing: 0.1em;
}
.projects{
	padding: 0 5vw;
	display: grid;
	grid-template-rows: 5em 5em 5em;
	grid-row-gap: 1em
}
h3{
	font-family: 'Libre Baskerville', serif;
}
.projects p {
	font-family: 'Raleway', sans-serif;
}
.yuag {
	background-color: #FFFFFF;
}
.gc {
	background-color: #FFFFFF;
}
.ow{
	background-color: #FFFFFF;
}
.about{
	height: 100vh;
	display: grid;
	grid-template-columns: 41vw 41vw;
	grid-row-gap: 6vw;
	padding: 0 6vw;
	align-items: center;
}
h4{
	font-family: 'Raleway', sans-serif;
	color: #FFFFFF;
	font-weight: bold;
}
.about p{
	font-family: 'Libre Baskerville', serif;
	color: #FFFFFF;
}