/* CSS Document */

body {
	background-color: #000000;
	margin: 0;
}
nav ul {
	list-style: none;
	position: absolute;
	right: 0;
	padding: 0.5em 2em 0.5em 0;
}
nav ul li {
	display: inline;
	padding: 0 1em 0 1em;
}
nav ul li a {
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-size: 0.9em;
	color:#FFFFFF;
}
nav ul li a:hover {
	color: #000000;	
}
h2, h3, h4, h5 {
	font-weight: normal;
	padding: 0;
	margin: 0;
}
h2 {
	font-family: 'Lato', sans-serif;
	font-size: 0.9em;
	font-weight: bold;
	line-height: 0;
	color: #0096CC;
}
h3 {
	font-family: 'Libre Baskerville', serif;
	font-size: 2em;
	font-weight: bold;
}
h4 {
	font-family: 'Lato', sans-serif;
	font-size: 0.9em;
	font-weight: bold;
	line-height: 0;
	color: #F95D9C;
}
h5 {
	font-family: 'Lato', sans-serif;
	font-size: 0.9em;
	font-weight: bold;
	line-height: 0;
	color: #00A453;
}
p {
	font-family: 'Libre Baskerville', serif;
	font-size: 1.2em;
	line-height: 1.8em;
}
.gray-ten {
	color: #EBEBEB;
}
.gray-twenty {
	color: #D7D7D7;
}
.white-text {
	color:#FFFFFF
}
.center {
	display: block;
	text-align: center;
}
.middle {
	width: 50vw;
	padding: 0 25vw;
}
.cover {
	background-color: #00AFEC;
}
#cover {
	height: 100vh;
	max-width: 100vw;
	max-height: 80vw;
}
.overview-text {
	align-self: center;
	padding: 20vw 0 20vw 0;
}
.language-options {
	background-color: #252525;
}
.language-options h3 {
	padding: 3em 0 2.5em 0;
}
#language-options-one {
	width: 71vw;
	padding: 1.5em 0 6em 0;
}
#language-options-two {
	width: 41vw;
	padding: 0.5em 0 7em 0;
}
.audio {
	background-color: #363636;
	display: grid;
	grid-template-columns: 40vw 60vw;
}
.audio-text {
	padding: 5em 0 0 10vw;
}
#audio {
	width: 36vw;
	justify-self: center;
}
.permanent-collection {
	background-color: #252525;
	display: grid;
	grid-template-columns: 65vw 35vw;
}
.permanent-collection-hidden{
	display: none;
}
.permanent-collection-text {
	text-align: right;
	justify-self: right;
	padding: 5.5em 10vw 0 0;
}
#permanent-collection {
	align-self: center;
	justify-self: center;
	width: 53vw;
	padding: 4.5em 0; 
}
.special-exhibitions {
	background-color: #363636;
}
.special-exhibitions h3 {
	padding: 3em 0 2.5em 0;
}
#special-exhibtions-one {
	width: 56vw;
	padding: 1.5em 0 5.5em 0;
}
#special-exhibitions-two {
	width: 28vw;
	padding: 1.5em 0 7em 0;
}
.revised-search-interface {
	background-color: #252525;
}
.revised-search-interface h3 {
	padding: 4em 0 2em 0;
}
#search {
	width: 71vw;
	padding-bottom: 8em;
}
.next {
	height: 10em;
	display: grid;
	grid-template-columns: 30vw 70vw;
}
.up-next {
	font-family: 'Lato', sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	align-self: center;
	color: #7D7D7D;
	padding-left: 10vw;
}
#game-changineer {
	font-family: 'Libre Baskerville', serif;
	font-size: 1.2em;
	text-decoration: none;
	text-align: right;
	align-self: center;
	justify-self: right;
	color: #CC4B7F;
	padding-right: 10vw;
}
#game-changineer:hover {
	color: #F95D9C;
}
footer {
	height: 7em;
	background-color: #363636;
	display: grid;
	grid-template-row: 4em;
}
footer p{
	font-family: 'Lato', sans-serif;
	font-size: 0.5em;
	justify-self: center;
	align-self: flex-end;
	color: #7D7D7D;
	margin: 0 0 1vw 0;
}
@media (max-width: 800px) {
	nav ul {
		z-index: 2;
	}
	.cover {
		height: 72vw;
		z-index: 1;
	}
	#cover {
		height: 72vw;
		width: 90vw;
	}
	.audio {
		display: initial;
		height: auto;
	}
	.audio-background {
		background-color: #363636;
	}
	.audio-text {
		width: 50vw;
		padding: 0 25vw;
	}
	.audio-text h3 {
		padding: 3em 0 0 0;
	}
	#audio {
		width: 28vw;
		height: auto;
		padding: 1.5em 0 7em 36vw;	
	}
	.permanent-collection {
		display: initial;
		height: auto;
	}
	.permanent-collection-background {
		background-color: #252525;
	}
	.permanent-collection-text {
		display: none;
	}
	.permanent-collection-hidden {
		display: initial;
	}
	.permanent-collection-hidden-text{
		width: 50vw;
		padding: 0 25vw;
	}
	.permanent-collection-hidden h3 {
		padding: 3em 0 0 0;
	}
	#permanent-collection {
		width: 42vw;
		height: auto;
		padding: 0.5em 0 7em 29vw;	
	}
}