/* CSS Document */

body {
	background-color: #000000;
	margin: 0;
}
nav ul {
	list-style: none;
	position: absolute;
	right: 0;
	padding: 0.5em 2em 0.5em 0;
}
nav ul li {
	display: inline;
	padding: 0 1em 0 1em;
}
nav ul li a {
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-size: 0.9em;
	color:#FFFFFF;
}
nav ul li a:hover {
	color: #000000;	
}
h1, h2, h3, h4, h5 {
	font-weight: normal;
	padding: 0;
	margin: 0;
}
h2 {
	font-family: 'Lato', sans-serif;
	font-size: 0.9em;
	font-weight: bold;
	line-height: 0;
	color: #0096CC;
}
h3 {
	font-family: 'Libre Baskerville', serif;
	font-size: 2em;
	font-weight: bold;
}
h4 {
	font-family: 'Lato', sans-serif;
	font-size: 0.9em;
	font-weight: bold;
	line-height: 0;
	color: #F95D9C;
}
h5 {
	font-family: 'Lato', sans-serif;
	font-size: 0.9em;
	font-weight: bold;
	line-height: 0;
	color: #00A453;
}
p {
	font-family: 'Libre Baskerville', serif;
	font-size: 1.2em;
	line-height: 1.8em;
}
.gray-ten {
	color: #EBEBEB;
}
.gray-twenty {
	color: #D7D7D7;
}
.gray-thirty {
	color: #C2C2C2;
}
.white-text {
	color:#FFFFFF
}
.center {
	display: block;
	text-align: center;
}
.middle {
	width: 50vw;
	padding: 0 25vw;
}
.cover {
background-color: #00AFEC;
height: 100vh;
}
#yuag-cover {
	height: 100vh;
}
.overview {
}
.overview-text {
	align-self: center;
	padding: 20vw 0 20vw 0;
}
.language-options {
	background-color: #252525;
}
#language-options-one {
	width: 71vw;
}
#language-options-two {
	width: 41vw;
}
.audio {
	background-color: #363636;
	height: 103vh;
	display: grid;
	grid-template-columns: 40vw 60vw;
}
.audio-text {
	padding: 0 0 0 10vw;
}
#audio {
	height: 103vh;
	justify-self: center;
}
.permanent-collection {
	background-color: #252525;
	height: 110vh;
	display: grid;
	grid-template-columns: 65vw 35vw;
}
.permanent-collection-text {
	text-align: right;
	justify-self: right;
	padding: 0 10vw 0 0;
}
#permanent-collection {
	align-self: center;
	justify-self: center;
	width: 51vw;
}
.special-exhibitions {
	background-color: #363636;
}
#special-exhibtions-one {
	width: 56vw;
}
#special-exhibitions-two {
	width: 28vw;
}
.revised-search-interface {
	background-color: #252525;
}
#search {
	width: 71vw;
	padding-bottom: 8em;
}
.next {
	height: 10em;
	display: grid;
	grid-template-columns: 50vw 50vw;
}
.up-next {
	font-family: 'Lato', sans-serif;
	font-size: 1.2em;
	font-weight: bold;
	align-self: center;
	color: #7D7D7D;
	padding-left: 10vw;
}
#game-changineer {
	font-family: 'Libre Baskerville', serif;
	font-size: 1.2em;
	text-decoration: none;
	text-align: right;
	align-self: center;
	justify-self: right;
	color: #CC4B7F;
	padding-right: 10vw;
}
#game-changineer:hover {
	color: #F95D9C;
}
footer {
	height: 7em;
	background-color: #252525;
}