/* CSS Document */

body {
	margin: 0;
	background-color: #000000;
}
img {
	position: absolute;
	width: 100vw;
	margin: 0;
	border: 0;
	padding: 0;
}
#excercises {
	top: 25vw;
	z-index: 1;
}
#list {
	top: 50vw;
	z-index: 1;
}
#clock {
	top: 75vw;
	z-index: 1;
}
#mayfly {
	font-size: 1vw;
	position: absolute;
	text-decoration: none;
	background-color: #000000;
	padding: 0.5vw 1vw;
	color: #FFFFFF;
	top: 20vw;
	left: 21vw;
	z-index: 2;
}
#portfolio {
	top: 100vw;
	z-index: 1;
}
footer {
	top: 125vw;
	background-color: black;
	height: 50px;
	width: 100vw;
	position: absolute;
	margin: 0;
	border: 0;
	padding: 0;
	z-index: 1;
}
#typesetting {
	font-size: 1vw;
	position: absolute;
	text-decoration: none;
	background-color: #000000;
	padding: 0.5vw 1vw;
	color: #FFFFFF;
	top: 41vw;
	left: 21vw;
	z-index: 2;
}
#reading-one {
	font-size: 1vw;
	position: absolute;
	text-decoration: none;
	background-color: #000000;
	padding: 0.5vw 1vw;
	color: #FFFFFF;
	top: 37vw;
	left: 43vw;
	z-index: 2;
}
#reading-two {
	font-size: 1vw;
	position: absolute;
	text-decoration: none;
	background-color: #000000;
	padding: 0.5vw 1vw;
	color: #FFFFFF;
	top: 28.5vw;
	left: 65vw;
	z-index: 2;
}
#ambient-webpage {
	font-size: 1vw;
	position: absolute;
	text-decoration: none;
	background-color: #000000;
	padding: 0.5vw 1vw;
	color: #FFFFFF;
	top: 35vw;
	left: 75vw;
	z-index: 2;
}
#media-query {
	font-size: 1vw;
	position: absolute;
	text-decoration: none;
	background-color: #000000;
	padding: 0.5vw 1vw;
	color: #FFFFFF;
	top: 33vw;
	left: 15vw;
	z-index: 2;
}
#one {
	background-color: #000000;
	position: absolute;
	z-index: 2;
	font-size: 1vw;
	top: 65.5vw;
	left: 53.5vw;
	border-radius: 50%;
	padding: 0.5vw 0.85vw;
	color: #FFFFFF;
	text-decoration: none;
}
#two {
	background-color: #000000;
	position: absolute;
	z-index: 2;
	font-size: 1vw;
	top: 52.8vw;
	left: 81.8vw;
	border-radius: 50%;
	padding: 0.5vw 0.85vw;
	color: #FFFFFF;
	text-decoration: none;
}
#three {
	background-color: #000000;
	position: absolute;
	z-index: 2;
	font-size: 1vw;
	top: 53.8vw;
	left: 36vw;
	border-radius: 50%;
	padding: 0.5vw 0.85vw;
	color: #FFFFFF;
	text-decoration: none;
}
#four {
	background-color: #000000;
	position: absolute;
	z-index: 2;
	font-size: 1vw;
	top: 58.7vw;
	left: 55.5vw;
	border-radius: 50%;
	padding: 0.5vw 0.85vw;
	color: #FFFFFF;
	text-decoration: none;
}
#five {
	background-color: #000000;
	position: absolute;
	z-index: 2;
	font-size: 1vw;
	top: 62.5vw;
	left: 6.7vw;
	border-radius: 50%;
	padding: 0.5vw 0.85vw;
	color: #FFFFFF;
	text-decoration: none;
}
#six {
	background-color: #000000;
	position: absolute;
	z-index: 2;
	font-size: 1vw;
	top: 62.6vw;
	left: 67.2vw;
	border-radius: 50%;
	padding: 0.5vw 0.85vw;
	color: #FFFFFF;
	text-decoration: none;
}
#seven {
	background-color: #000000;
	position: absolute;
	z-index: 2;
	font-size: 1vw;
	top: 59.7vw;
	left: 85.7vw;
	border-radius: 50%;
	padding: 0.5vw 0.85vw;
	color: #FFFFFF;
	text-decoration: none;
}
#eight {
	background-color: #000000;
	position: absolute;
	z-index: 2;
	font-size: 1vw;
	top: 61.5vw;
	left: 32vw;
	border-radius: 50%;
	padding: 0.5vw 0.85vw;
	color: #FFFFFF;
	text-decoration: none;
}
#nine {
	background-color: #000000;
	position: absolute;
	z-index: 2;
	font-size: 1vw;
	top: 55.8vw;
	left: 65.2vw;
	border-radius: 50%;
	padding: 0.5vw 0.85vw;
	color: #FFFFFF;
	text-decoration: none;
}
#ten {
	background-color: #000000;
	position: absolute;
	z-index: 2;
	font-size: 1vw;
	top: 51vw;
	left: 90.5vw;
	border-radius: 50%;
	padding: 0.5vw 0.6vw;
	color: #FFFFFF;
	text-decoration: none;
}
#eleven {
	background-color: #000000;
	position: absolute;
	z-index: 2;
	font-size: 1vw;
	top: 64.5vw;
	left: 58.4vw;
	border-radius: 50%;
	padding: 0.5vw 0.6vw;
	color: #FFFFFF;
	text-decoration: none;
}
#twelve {
	background-color: #000000;
	position: absolute;
	z-index: 2;
	font-size: 1vw;
	top: 52.9vw;
	left: 50.5vw;
	border-radius: 50%;
	padding: 0.5vw 0.6vw;
	color: #FFFFFF;
	text-decoration: none;
}
#thirteen {
	background-color: #000000;
	position: absolute;
	z-index: 2;
	font-size: 1vw;
	top: 59.7vw;
	left: 12.5vw;
	border-radius: 50%;
	padding: 0.5vw 0.6vw;
	color: #FFFFFF;
	text-decoration: none;
}
#fourteen {
	background-color: #000000;
	position: absolute;
	z-index: 2;
	font-size: 1vw;
	top: 64.5vw;
	left: 78.8vw;
	border-radius: 50%;
	padding: 0.5vw 0.6vw;
	color: #FFFFFF;
	text-decoration: none;
}
#fifteen {
	background-color: #000000;
	position: absolute;
	z-index: 2;
	font-size: 1vw;
	top: 71.3vw;
	left: 43.7vw;
	border-radius: 50%;
	padding: 0.5vw 0.6vw;
	color: #FFFFFF;
	text-decoration: none;
}
#sixteen {
	background-color: #000000;
	position: absolute;
	z-index: 2;
	font-size: 1vw;
	top: 51vw;
	left: 59.4vw;
	border-radius: 50%;
	padding: 0.5vw 0.6vw;
	color: #FFFFFF;
	text-decoration: none;
}
#seventeen {
	background-color: #000000;
	position: absolute;
	z-index: 2;
	font-size: 1vw;
	top: 58.7vw;
	left: 38.8vw;
	border-radius: 50%;
	padding: 0.5vw 0.6vw;
	color: #FFFFFF;
	text-decoration: none;
}
#eighteen {
	background-color: #000000;
	position: absolute;
	z-index: 2;
	font-size: 1vw;
	top: 67.5vw;
	left: 38vw;
	border-radius: 50%;
	padding: 0.5vw 0.6vw;
	color: #FFFFFF;
	text-decoration: none;
}
#nineteen {
	background-color: #000000;
	position: absolute;
	z-index: 2;
	font-size: 1vw;
	top: 59.6vw;
	left: 61.3vw;
	border-radius: 50%;
	padding: 0.5vw 0.6vw;
	color: #FFFFFF;
	text-decoration: none;
}
#twenty {
	background-color: #000000;
	position: absolute;
	z-index: 2;
	font-size: 1vw;
	top: 56.8vw;
	left: 96.4vw;
	border-radius: 50%;
	padding: 0.5vw 0.6vw;
	color: #FFFFFF;
	text-decoration: none;
}
#twenty-one {
	background-color: #000000;
	position: absolute;
	z-index: 2;
	font-size: 1vw;
	top: 70.4vw;
	left: 81.8vw;
	border-radius: 50%;
	padding: 0.5vw 0.6vw;
	color: #FFFFFF;
	text-decoration: none;
}
#twenty-two {
	background-color: #000000;
	position: absolute;
	z-index: 2;
	font-size: 1vw;
	top: 64.5vw;
	left: 87.5vw;
	border-radius: 50%;
	padding: 0.5vw 0.6vw;
	color: #FFFFFF;
	text-decoration: none;
}
#twenty-three {
	background-color: #000000;
	position: absolute;
	z-index: 2;
	font-size: 1vw;
	top: 58.7vw;
	left: 29vw;
	border-radius: 50%;
	padding: 0.5vw 0.6vw;
	color: #FFFFFF;
	text-decoration: none;
}
#twenty-four {
	background-color: #000000;
	position: absolute;
	z-index: 2;
	font-size: 1vw;
	top: 65.5vw;
	left: 21.4vw;
	border-radius: 50%;
	padding: 0.5vw 0.6vw;
	color: #FFFFFF;
	text-decoration: none;
}
#twenty-five {
	background-color: #000000;
	position: absolute;
	z-index: 2;
	font-size: 1vw;
	top: 62vw;
	left: 48vw;
	border-radius: 50%;
	padding: 0.5vw 0.6vw;
	color: #FFFFFF;
	text-decoration: none;
}